html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the body to the viewport height */
    margin: 0; /* Remove default body margin */
}

#title-text {
  position: relative;
  margin-top: -150px;
  font-family: 'Arial', sans-serif; /* Change to the desired font */
  font-size: 3em; /* Adjust the font size as needed */
}

#animatedButton {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #4CAF50;
  cursor: pointer;
  overflow: hidden;
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  animation: ripple 0.6s ease-out;
  pointer-events: none;
}

#animatedButton img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0.3;
  }
  50% {
    width: 300px;
    height: 300px;
    opacity: 0.5;
  }
  100% {
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}

@keyframes extravagantColorChange {
  0% {
    background-color: #FF0000; /* Red */
  }
  14% {
    background-color: #FF7F00; /* Orange */
  }
  28% {
    background-color: #FFFF00; /* Yellow */
  }
  42% {
    background-color: #00FF00; /* Green */
  }
  56% {
    background-color: #0000FF; /* Blue */
  }
  70% {
    background-color: #4B0082; /* Indigo */
  }
  84% {
    background-color: #9400D3; /* Violet */
  }
  100% {
    background-color: #FF0000; /* Back to Red */
  }
}

.extravagant-color-change {
  animation: extravagantColorChange 5s infinite ease-in-out;
}
