<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microphone Toggle Example</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div id="title-container">
        <h1 id="title-text">Vision Assist</h1>
    </div>
    <div id="button-container">
        <button id="animatedButton" onclick="toggleAnimation()">
            <div id="circle"></div>
            <img src="/static/microphone.png" height="512" alt="microphone">
        </button>
    </div>
    <div id="generated-text-container">
        <h1 id="generated-text"></h1>
    </div>

    <audio id="audioPlayer" controls style="display: none;"></audio>


    <script>
        // audio recognition
        const recognition = new webkitSpeechRecognition(); // Use the Webkit prefix for some browsers
        recognition.continuous = true;
        recognition.lang = 'en-US';
        const audioPlayer = document.getElementById('audioPlayer');
        var recognizing = false;

        preloadAudio("/static/on.wav");
        preloadAudio("/static/off.wav");

        // loading audio
        async function preloadAudio(audioPath) {
            try {
                const response = await fetch(audioPath);
                const audioBuffer = await response.arrayBuffer();
                const audioContext = new (window.AudioContext || window.webkitAudioContext)();
                const audioSource = audioContext.createBufferSource();
                const audioData = await audioContext.decodeAudioData(audioBuffer);

                audioSource.buffer = audioData;
                audioSource.connect(audioContext.destination);

                return audioSource;
            } catch (error) {
                console.error('Error preloading audio:', error);
                return null;
            }
        }

        async function playCachedAudio(audioPath) {
            const audioSource = await preloadAudio(audioPath);

            if (audioSource) {
                // Start playing the audio
                audioSource.start();
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            const toggleButton = document.getElementById('animatedButton');
            const socket = io();

            let isMicrophoneOn = false;
            let recognizedText = "";

            toggleButton.addEventListener('click', () => {
                isMicrophoneOn = !isMicrophoneOn;

                if (isMicrophoneOn) {
                    // Start speech recognition when microphone is toggled on
                    recognition.start();
                    recognizing = true;
                    playCachedAudio("/static/on.wav");
                } else {
                    // Stop speech recognition when microphone is toggled off
                    recognition.stop();
                    recognizing = false;
                    playCachedAudio("/static/off.wav");
                }
            });

            recognition.onresult = (event) => {
                const last = event.results.length - 1;
                const recognizedText = event.results[last][0].transcript;
                console.log('Recognized Text:', recognizedText);
                // Send the recorded text to the server
                socket.emit('send_text', recognizedText);
            };

            recognition.onerror = (event) => {
                console.error('Speech recognition error:', event.error);
            };

            socket.on('processed_text', (data) => {
                console.log('Server response:', data);
            });

            // text to speech
            socket.on('speak', function(values) {
                console.log(values)
                const important = values['important']
                const text = values['text']
                if(important) {
                    window.speechSynthesis.cancel()
                }
                speakText(text);
            });

            // speech synthesis
            function speakText(textToSpeak) {
                console.log("speaking")
                if(window.speechSynthesis.speaking || recognizing) return;

                const utterance = new SpeechSynthesisUtterance(textToSpeak);
                utterance.rate = 1.25;
                window.speechSynthesis.speak(utterance);
                utterance.onend = () => {
                    socket.emit('speaker_available')
                    console.log("speaker_available")
                };

                // change generated text
                document.getElementById("generated-text").textContent = textToSpeak;
            }

            // scan
            let stream;
            let videoElement;

            socket.on('activate_scan', () => {

                navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment"}, audio: false })
                .then((newStream) => {
                    stream = newStream;
                    videoElement = document.createElement('video');
                    videoElement.srcObject = stream;
                    videoElement.autoplay = true;
                    videoElement.playsInline = true;
                    videoElement.muted = true;
                    document.addEventListener('click', () => {
                        videoElement.play().catch(error => console.error('Error playing video:', error));
                    });
                    socket.emit("scan_activated")
                })
                .catch((error) => {
                    console.error('Error getting user media:', error);
                });
            });

            socket.on('request_scan', () => {
                if(stream){
                    captureFrame()
                }
            });

            socket.on('deactivate_scan', () => {
                stopVideoStream()
            })

            function captureFrame() {
                const canvas = document.createElement('canvas');
                canvas.width = videoElement.videoWidth;
                canvas.height = videoElement.videoHeight;

                const context = canvas.getContext('2d');
                context.drawImage(videoElement, 0, 0, canvas.width, canvas.height);

                const frameData = canvas.toDataURL('image/png').split(',')[1];
                socket.emit("video_frame", frameData)
            }

            function stopVideoStream() {
                // Stop the video stream and remove the video element
                if (stream) {
                    const tracks = stream.getTracks();
                    tracks.forEach(track => track.stop());
                    videoElement.srcObject = null;
                    stream = null;
                }
            }

            function frameToBase64(frame) {
                return new Promise(resolve => {
                    const canvas = document.createElement('canvas');
                    const context = canvas.getContext('2d');

                    // Set canvas dimensions to match the frame
                    canvas.width = frame.width;
                    canvas.height = frame.height;

                    // Draw the frame onto the canvas
                    context.drawImage(frame, 0, 0, frame.width, frame.height);

                    // Convert the canvas content to base64
                    const base64Data = canvas.toDataURL('image/png').split(',')[1];
                    resolve(base64Data);
                });
            }


            // navigation
            let watcher;
            socket.on('activate_navigation', () => {
                console.log("navigation activated");
                watcher = navigator.geolocation.watchPosition(successCallback, errorCallback, options);
            });

            socket.on('deactivate_navigation', () => {
                console.log("navigation deactivated");
                navigator.geolocation.clearWatch(watcher);
            });

            function successCallback(position) {
                const {accuracy, latitude, longitude, altitude, heading, speed} = position.coords;
                sendDataToPython(latitude, longitude);
            }

            function errorCallback(error) {
            // Handle errors if needed
            }

            var options = {
                enableHighAccuracy: false,
                timeout: 5000,
            }

            function sendDataToPython(latitude, longitude) {
                const data = {
                    "latitude": latitude,
                    "longitude": longitude
                };

                // Convert data to JSON format
                const jsonData = JSON.stringify(data);

                socket.emit('update_location', jsonData)
            }
        });


        // button animation
        var isAnimating = false;

        function toggleAnimation() {
            var button = document.getElementById('animatedButton');
            var circle = document.getElementById('circle');
            isAnimating = !isAnimating;
            if (isAnimating) {
                button.classList.add('extravagant-color-change');
                circle.style.animation = 'ripple 0.6s ease-out';
            } else {
                button.classList.remove('extravagant-color-change');
                circle.style.animation = 'none';
                circle.offsetHeight; /* Trigger reflow to restart the animation */
                circle.style.animation = 'ripple 0.6s ease-out';
            }
        }
    </script>
</body>
</html>
